<h1>
  {{#if (is-before robocupStartDate)}}
    The robocup starts in <h1 class="text-danger d-inline"> {{countdown-string startDate=robocupStartDate}} </h1>
  {{else if (is-before robocupEndDate)}}
    We are currently competing at the Robocup in Sydney!
  {{else}}
    Thank you for your support!
  {{/if}}
</h1>
