<div class="bg-dark footer p-5 mt-5 ">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <h3 class="text-light mb-0"> Roboteam Twente </h3> <br>
        <span class="text-light"> De Hems 10 </span> <br>
        <span class="text-light"> 7522NL </span> <br>
        <span class="text-light"> Enschede </span> <br>
        <span class="text-light"> Bastile Room 204A </span><br>
        <span class="text-light"> KvK: 66464323 </span><br>
      </div>
    </div>
  </div>
</div>
