<div class="bg-dark footer p-5 mt-5 ">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-3">
        <h3 class="text-light mb-0"> Roboteam Twente </h3> <br>
        <span class="text-light"> De Hems 10 </span> <br>
        <span class="text-light"> 7522NL </span> <br>
        <span class="text-light"> Enschede </span> <br>
        <span class="text-light"> Bastile Room 204A </span><br>
      </div>

      <div class="col-12 col-md-3 pt-5 pt-md-0">
        <h3 class="text-light mb-0"> Contact </h3> <br>
        <span>  <a class="text-light" href="mailto:info@roboteamtwente.nl">info@roboteamtwente.nl</a></span> <br>
        {{!--Koen's phone number--}}
        <span>  <a class="text-light" href="tell:+31624411725"> +31 6 24411725</a> </span> <br>
      </div>

      <div class="col-12 col-md-6">
        <img class="header-rtt-logo pull-right pl-5 pr-5 max-width" alt="logo" src="images/rtt_logo_medium.png">
      </div> 
    </div>
  </div>
</div>
