 <div class="{{if centered 'text-center'}} w-100">
	<a href="https://www.facebook.com/roboteamtwente/" target="_blank" class="fa fa-facebook"></a>
	<a href="https://www.instagram.com/roboteamtwente/" target="_blank" class="fa fa-instagram"></a>
	<a href="https://www.linkedin.com/company/roboteam-twente" target="_blank" class="fa fa-linkedin"></a>
	<a href="https://www.youtube.com/channel/UCAB2bLpeVElJN2jDyF14zsQ" target="_blank" class="fa fa-youtube"></a>
</div>