<div class="{{if centered 'text-center'}} w-100">
  <a href="https://www.facebook.com/roboteamtwente/" target="_blank" rel="noopener" class="fa fa-facebook"></a>
  <a href="https://twitter.com/roboteamtwente" target="_blank" rel="noopener" class="fa fa-twitter"></a>
  <a href="https://www.instagram.com/roboteamtwente/" target="_blank" rel="noopener" class="fa fa-instagram"></a>
  <a href="https://www.linkedin.com/company/roboteamtwente" target="_blank" rel="noopener" class="fa fa-linkedin"></a>
  <a href="https://www.youtube.com/channel/UCAB2bLpeVElJN2jDyF14zsQ" target="_blank" rel="noopener" class="fa fa-youtube"></a>
  <a href="https://github.com/RoboTeamTwente" target="_blank" rel="noopener" class="fa fa-github"></a>
</div>