
.bg-primary {
  background-color: #CC0000 !important;
}

* {
  font-family: roboto
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed', sans-serif;
}

.nav-link {
  font-family: 'Roboto Condensed', sans-serif;
}

.header-logo {
  height: 40px;
  margin-bottom: -16px;
}
