
@import 'hamburger';

.bg-primary {
  background-color: #CC0000 !important;
}

* {
  font-family: roboto;
  text-decoration: none; /* no underline */
}

body {
  padding-top: 56px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  text-decoration: none; /* no underline */

  a {
    font-family: 'Oswald', sans-serif;
    color: white;
    text-decoration: none; /* no underline */

    &:hover{
      font-family: 'Oswald', sans-serif;
      color: white;
    }
  }
}

.nav-link {
  font-family: 'Roboto Condensed', sans-serif;
}

.header-logo {
  height: 40px;
  margin-bottom: -16px;
}

.content {
  min-height: 80vh;
}

a {
  color: #cc0000;
}

.link {
  cursor: pointer;
}

.bg-gray {
  background-color: #eee;
}

.slideModal {
  background-color: rgba(230, 230, 230, 0.95);
  z-index: 10;
  position: fixed;
  bottom: 0;
  height: 480px;
  width: 100vw;
}

.mobile-menu {
  background-color: rgba(230, 230, 230, 0.95);
  position: fixed;
  z-index: 1050;
  bottom: 0;
  top: 56px;
  left: 0;
  right: 0;
  padding-left: 50px;
  padding-top: 50px;
  height: 100vh;
  transition: opacity .3s linear;
  opacity: 0;
  pointer-events: none;

  &.visible {
    opacity: 1;
    pointer-events: auto;

  }
}


.header-image {
  background: #000;
  opacity: 0;
  transition: opacity .8s linear;

  &.visible {
    opacity: 1;
  }
}

.news-item {
  border-top: 0;
  background-color: #f3f3f3;
  cursor: pointer;
transition: all .3s ease-in-out;
min-height: 100px;

  &.active {
    border-top: 3px solid #cc0000;
  }

  &:hover {
    background-color: #eee;
  }
}
