* {
  font-family: roboto;
  text-decoration: none; /* no underline */
}

body {
  padding-top: 56px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  text-decoration: none; /* no underline */

  a {
    font-family: 'Oswald', sans-serif;
    color: white;
    text-decoration: none; /* no underline */

    &:hover{
      font-family: 'Oswald', sans-serif;
      color: white;
    }
  }
}

ul {
  list-style-type: none;
}

.bg-primary {
  background-color: #CC0000 !important;
}

.content {
  min-height: 80vh;
}

a {
  color: #cc0000;

  &:hover {
    color: #aa0000;

  }
}

.link {
  cursor: pointer;
}

.bg-gray {
  background-color: #eee;
}



h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.3rem;
}

@include media-breakpoint-up(md) {
  h1 {
    font-size: 2.4rem;
  }

  h2 {
    font-size: 2rem;
  }
}
