.header-image {
  position: absolute;
  width: 100%;
  height: 560px;
  object-fit: cover;
  background-position: center;
  z-index:-1;
  background: #000;
}

.gradient {
  position: absolute;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%);
  margin-top: 360px;
  height: 200px;
  width: 100%;
}

.header-image-title {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);

  &.subtitle {
    font-weight: 100;
    font-size: 1.2rem;
    color: white;
  }

  a { 
    color: white;
  }
}

.frontpage-header-row {
  height: 350px;
}

@include media-breakpoint-down(md) {
  .header-image {
    height: 300px; 
  }

  .frontpage-header-row {
    height: auto;
  }

  .gradient {
    height: 100px; 
    margin-top: 200px;
  }

  .frontpage-header {
    height: 300px !important;
    overflow-y: hidden;
  }
}

.header-rtt-logo {
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, .5));
  max-width: 350px;
  object-fit: contain;
  pointer-events: none;
}

.frontpage-header {
  height: 560px;
}

#instafeed {
  .insta-image {   
    height: inherit;
    max-height: inherit;
    overflow-y: hidden;
    width: 100%;
    object-fit: cover;
    height: 200px;
  };
}

