.img-banner-text {
  position: absolute;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);

  .subtitle {
    font-weight: 100;
    font-size: 1rem;
  }
}

.img-banner-img {
  object-fit: cover;
  background-position: center;
  width: 100%;
  max-width: 100%;
  height: 330px;
}

@include media-breakpoint-down(md) {
  .img-banner-img {
    height: 200px;
  }
}

.img-banner-img-auto-height-overlay {
  background-color: rgba(0, 0, 0, .2);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}


.designitem-img-title {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}

.designitem-img-text {
   text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);

   p {
    max-width: 80%;
   }
 }

.designitem-img-banner {
 position: absolute;
  left: 16px;
  right: 16px;
  bottom: 0;
  top:0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.designitem-img-banner-overlay {
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: 0;
  top:0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
 }


@include media-breakpoint-down(md) {
  .designitem-img-text {
    p {
      max-width: 100%;
    }
  }

.designitem-img-banner {
  position: absolute;
  left: 16px;
  right: 32px;
  bottom: 0;
  top:0;
  object-fit: cover;
 }
 
 .designitem-img-banner-overlay {
   position: absolute;
   left: 16px;
   right: 32px;
   bottom: 0;
   top:0;

   background-color: rgba(0, 0, 0, .4);
  }
}