.offer-card {
	&:hover {
		color: #cc0000;
		text-decoration: underline;
		border-radius: 0;
	}

	.card-body {
		padding: 0;
		padding-top: 8px;
	}

	.card-img-top {
		height: 228px;
		max-height: 228px;
		border-radius: 0;
		object-fit: cover;
		overflow-y: hidden;
	}
}