.header-logo {
  height: 40px;
  margin-bottom: -16px;
}

.header-image {
  background: #000;
  opacity: 0;
  transition: opacity 2s linear;

  &.visible {
    opacity: 1;
  }
}

.nav-link {
  font-family: 'Roboto Condensed', sans-serif;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.8);
}

.mobile-menu {
  background-color: rgba(230, 230, 230, 0.95);
  position: fixed;
  z-index: 1050;
  bottom: 0;
  top: 56px;
  left: 0;
  right: 0;
  padding-left: 50px;
  padding-top: 50px;
  height: 100vh;
  transition: opacity .3s linear;
  opacity: 0;
  pointer-events: none;

  &.visible {
    opacity: 1;
    pointer-events: auto;

  }
}

@include media-breakpoint-down(md) {
  .nav-link {
    font-size: 1.3rem;
  }
}
