.sponsor {
	max-height: 200px;
	height: 200px;
	width: 100%;
	object-position: center;
	object-fit: scale-down;
	max-width: 100%;
}

@include media-breakpoint-down(md) {
	.sponsor {
	  max-height: 150px;
	}
}