.sponsor {
  max-height: 150px;
  height: 150px;
	object-position: center;
	object-fit: contain;
	width: 100%;
	max-width: 100%;
}

@include media-breakpoint-down(md) {
	.sponsor {
	  max-height: 150px;
	}
}
