<div class="container mt-5">
  <div class="col-12 mt-5">
    <div class="row mt-5 justify-content-center">
      <h1> Electronics </h1>
      {{#each model.articles as |article|}}
        <div class="col-12 col-md-4">
          {{#link-to "news.show" article}}
            <img class="max-width cover" height="200" src={{article.imageSrc}} alt={{article.title}}>
            <h4 class="text-dark mt-2">
              {{article.title}}
            </h4>
          {{/link-to}}
        </div>
      {{/each}}
    </div>
  </div>
</div>
