<div class="container">
  <div class="card mt-5">
    <div class="card-header">
      <div class="row">
        <strong class="col"> All listed News articles </strong>
        {{#link-to "admin.news.new" class="col-4"}} 
          <a class="text-danger link mr-3 float-right"> Create new article </a>
        {{/link-to}}
      </div>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col" class="border-0"> Article </th>
          <th scope="col" class="border-0"> Image </th>
          <th scope="col" class="border-0"> Options </th>
        </tr>
      </thead>
      
      <tbody>
        {{#each pagedContent as |article|}}
          <tr>
            <td>{{article.title}} </td>
            <td><img src={{article.imageSrc}} alt="article" width='50' height='50'></td>
            <td> 
              <a class="link text-danger" {{action "remove" article.id}}> Remove </a> / 
              {{#link-to "admin.news.edit" article.id}} <a class="link text-muted"> Edit </a> {{/link-to}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  {{page-numbers content=pagedContent}}
</div>