<div class="container">
  <div class="col-12 mt-5">
    <h1> Upcoming events </h1>

    <div class="row justify-content-center">
      <ul class="list-group col-8">
  	  {{#each model as |event|}}
       {{#link-to "events.show" event tagName="li" class="list-group-item link"}}
            <div class="row"> 
              <div class="col-4">
                <h2 class="mb-0"> {{moment-format event.startdate "MM/DD"}} - {{moment-format event.enddate "MM/DD"}} </h2>
              </div>
              <div class="col-8">
                <span> {{event.title}} </span> <br>
                <span class="text-muted">  {{event.location}} </span>
                {{#if event.link}}
                  <a href="event.link" target="_blank"> Event website </a>
                {{/if}}
              </div>
            </div>
          {{/link-to}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>

