<div class="container">
  <div class="col-12 mt-5">
    <h1> {{model.title}} </h1>
    <div class="row justify-content-center">
        <h2 class="mb-0"> {{moment-format event.startDate "MM/DD"}} - {{moment-format event.endDate "MM/DD"}} </h2>
    	<div class="card col-8 event-description"> 
    		{{{model.description}}}
    	</div>
    </div>
  </div>
</div>

