{{page-title "Not found"}}
<div class="container">
  <div class="col-12 mt-5">
    <div class="row">
      <div class="not-found-404-container">
        <h1 class="title-not-found-404 text-center"> 404 </h1>
        <span> The page you're looking for cannot be found. </span>
        {{#link-to 'index'}} Return to the homepage {{/link-to}}
      </div>
    </div>
  </div>
</div>
