<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-3 mt-5">
      <ul class="list-group">

        <li class="list-group-item">
          {{#link-to "admin.settings"}} General settings {{/link-to}}
        </li>

        <li class="list-group-item">
          {{#link-to "admin.headers"}} Frontpage headers {{/link-to}}
        </li>

        <li class="list-group-item">
          {{#link-to "admin.news"}} News Articles {{/link-to}}
        </li>

        <li class="list-group-item">
          {{#link-to "admin.events"}} Events {{/link-to}}
        </li>

        <li class="list-group-item">
          {{#link-to "admin.sponsors"}} Sponsors {{/link-to}}
        </li>

        <li class="list-group-item">
          {{#link-to "admin.members"}} Members {{/link-to}}
        </li>

        <li class="list-group-item">
          {{#link-to "admin.documentation"}} Documentation {{/link-to}}
        </li>

        <li class="list-group-item">
          {{#link-to "admin.offers"}} Offers {{/link-to}}
        </li>

        <li class="list-group-item">
          {{#link-to "admin.crowdfunders"}} Crowdfunders {{/link-to}}
        </li>

        <li class="list-group-item">
          {{#link-to "admin.previousteams"}} Previous Teams {{/link-to}}
        </li>

        <li class="list-group-item">
          {{#link-to "admin.design-presentation"}} [Design Presentation] articles {{/link-to}}
        </li>

        <li class="list-group-item">
          {{#link-to "admin.subteams"}} [Design Presentation] Subteams {{/link-to}}
        </li>

        <li class="list-group-item">
          {{#link-to "admin.page"}} Pages {{/link-to}}
        </li>

        <li class="list-group-item">
          {{#link-to "admin.page-item"}} Page items {{/link-to}}
        </li>
      </ul>
    </div>

    <div class="col-12 col-md-9">
      {{outlet}}
    </div>
  </div>
</div>
