<div class="container">

  <div class="row">
    <div class="col-12 mt-5">
    <h1> Contact </h1>
      <p>
        RoboTeam Twente would like to answer all of your questions.
        You can contact us via this form or by sending an email to <a href="mailto:info@roboteamtwente.nl">info@roboteamtwente.nl</a>.
        We will get back to you as soon as possible.
      </p>
      <p>
        De hems 10
        7522 NL
        Enschede
        Bastille, room 204A
        KvK: 66464323
      </p>

    </div>
  </div>

  <!-- The Contact Form -->
  <div class="row">


  </div>

</div>
