<div class="container">
  <div class="row">
    <div class="col-12 mt-5">

      <h1> Contact </h1>
    </div>
    <div class="col-7 mt-5">

      <h3> How To Get In Touch </h3>

      <p>
        RoboTeam Twente would like to answer all of your questions.
        You can contact us via sending an email to <a href="mailto:info@roboteamtwente.nl">info@roboteamtwente.nl</a>.
        We will get back to you as soon as possible.
      </p>
      <h3>Partnership Inqueries</h3>
      <p>
        If you have specific questions about partnerships you can contact Koen Hertenberg, our External Affairs officer by sending an email to <a href="mailto:k.j.hertenberg@roboteamtwente.nl">k.j.hertenberg@roboteamtwente.nl</a> or calling <a href="tell:+31624411725">+31 6 24411725</a>.
      </p>

      <h3>Visit Us</h3>
      <p>
        Our office is open from 9:00 to 17:30 on Mondays to Fridays. Visit us anytime to get to know more about us, see how we work, or simply taste our coffee.
      </p>

      <a href="https://www.facebook.com/roboteamtwente/" class="fa fa-facebook"></a>

    </div>

    <div class="col-5 mt-5">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d513.580353573054!2d6.851308883791627!3d52.24313585648929!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b813dc9d942197%3A0x56f836ddf7da04d4!2sRoboTeam+Twente!5e0!3m2!1sen!2snl!4v1541064392274" width="600" height="450" frameborder="0"></iframe>
    </div>

  </div>
</div>
