
<div class="gradient"> </div>
{{voronoi-map class="voronoi-map-holder" height=560}}
<img class="header-image visible" src="content/triangles.jpg" alt={{header.title}}>

<div class="container">
  <div class="col-12">
    <div class="row justify-content-center pt-0 pt-lg-5">
      <div class="col-12 col-md-9 col-lg-9 mt-0 mt-lg-5">
        <h1 class="text-light text-center mt-5 mt-5"> Support RoboTeam Twente! </h1>
        <p class="text-light text-center mb-5"> We are currently running a crowdfunding campaign, and we could really use your help! Watch our video here! </p>
        <div class="row justify-content-center">
          <a href="https://www.steunutwente.nl/project/roboteam-twente" target="_blank" class="btn btn-lg btn-outline-light text-light"> &hearts; Donate </a> 
        </div>
        <iframe class="mt-5" src="https://player.vimeo.com/video/298403652" width="100%" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-12">
    <div class="row">
      <div class="col-12 mt-5 mb-3">
        <h1 class="text-center "> Why support us? </h1>
      </div>

    <div class="card-deck">
        <div class="card p-3">
          <h3> We aim to win the Robocup 2019 in Sydney </h3>
          <p>
            This year we decided it is time to go for the win. 
            You can read more about the Robocup {{#link-to 'robocup'}} here {{/link-to}}
         </p>
      </div>
        <div class="card p-3">
          <h3> We aim for better education about A.I. </h3>
          <p>
            Roboteam Twente provides demonstrations for companies and high schools to educate people about the possibilities of Artificial Intelligence. If you donate you can get a live demonstration of our robots!
          </p>
      </div>
        <div class="card p-3">

          <h3> We work with advanced technologies </h3>
          <p>
            We have computer scientists to improve on the stability of the software, and we have physicists and mathematicians to work on advanced algorithms to make our robots really shine on the field. Some of these algorithms can be very pretty; the banner at the top of this page shows a Voronoi diagram, which is an algorithm we also use during matches!
            You can read more about our innovations on the {{#link-to 'documentation'}}technology page{{/link-to}}.
         </p>
       </div>   
     </div>  
    </div>
  </div>
</div>




