<div class="container">
  <div class="col-12">
    <h1> Documentation </h1>
    <p>
      Apart from being competitive, the RoboCup also aims to advance the progress in robotics. To reach this goal, all teams share their technological improvements to aid other teams in their design choices. This page contains an overview of our designs.
    </p>
  </div>
</div>
