<div style="background: url('content/rttheader2.jpg'); background-size: cover; background-position: center; width: 100%; height: 480px;">
  <div class="container">
    <div class="row justify-content-between p-5">



      <h2 class="text-white col-12 col-md-6 pl-2 pl-md-5 pt-2 pt-md-5 mt-2 mt-md-5" style="text-decoration: underline; text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);" >
        Striving for inspiration and innovation in the field of robotics and artificial intelligence
        <br>
        {{#link-to 'team'}}
          <span style="font-weight: 100; font-size: 1rem;"> Meet the new team that will play in Sydney in 2019 </span>
        {{/link-to}}
      </h2>


      <img class="pr-4 pl-4 pb-5 mr-3 mt-0 d-none col-6 d-md-block" src="images/rtt_logo_medium.png" style="max-width: 250px;
      -webkit-filter: drop-shadow(5px 5px 5px #222);
      filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, .5));
      object-fit: contain;
      "/>


    </div>
  </div>
</div>

<div class="container-fluid">
<div class="row">
  <div class="col-3 border-bottom border-right pl-5 pr-5 pt-3 pb-3 bg-light">
    <h2 class=""> Roboteam at your event? </h2>
    <span> Contact us </span>
   </div>
   <div class="col-3 border-bottom border-right pl-5 pr-5 pt-3 pb-3 bg-light">
     <h2 class=""> Roboteam at schools </h2>
     <span> join us on our journey </span>
    </div>
    <div class="col-3 border-bottom border-right pl-5 pr-5 pt-3 pb-3 bg-light">
      <h2 class=""> Create tactics! </h2>
      <span> join us on our journey </span>
     </div>
     <div class="col-3 border-bottom pl-5 pr-5 pt-3 pb-3 bg-light">
       <h2 class=""> Crowdfunding </h2>
       <span> join us on our journey </span>
      </div>
</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 mt-5">
      <h1> About the RoboTeam </h1>
      <p>
          RoboTeam Twente is a multidisciplinary team of students from the University of Twente.
          We aspire to innovate in both robotics and artificial intelligence.
          Next, we want to inspire everyone for these two sectors and show the world what can be achieved with them.
          We believe robotics and artificial intelligence can make the world a better place if used correctly.

      </p>
      <p>
        Our medium to achieve these goals is the RoboCup, this year in Sydney.
        The RoboCup hosts multiple competitions for soccer and rescue robots as well as robots that can help at home or on the work floor.
        We will compete at the world championship of robot soccer in which two teams of six small robots will compete with each other.

        This is the second year the team participates in the RoboCup. The team consists of students from different backgrounds,
        such as Mechanical Engineering, Electrical Engineering, Biomedical Engineering, Computer Science and Advanced Technology.

        In the DesignLab of the University of Twente we have a special soccer field,
         on which we will frequently test our robots and in the near future play practice matches.
        If you don’t want to miss anything of our progress and if you want to be notified when we are going to practice, follow us on Facebook or Linkedin!
      </p>
    </div>

    <div class="col-12 col-md-4 mt-5">
      <h1> Recent news </h1>
      <p>

      </p>
    </div>
  </div>

  {{img-banner
    class="mt-5"
    title="We believe robotics and artificial intelligence can make the world a better place if used correctly."
    subtitle="Learn more about why we do what we do"
    link="robocup"
    imageSrc="images/ai.jpg"
  }}



  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <iframe style="width: 100%" height="415" src="https://www.youtube.com/embed/o5aIkALemNs?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
</div>


  {{img-banner
    class="mt-5"
    title="The RoboTeam is a group of 15 students from more than 6 different studies"
    subtitle="Look who we are and why we are in the team"
    link="team"
    imageSrc="content/team.JPG"
  }}

</div>
