<div class="container">
  <div class="col-12 mt-5">
    <h1> Partners </h1>
    <p>
      Without our sponsors, the RoboTeam Twente would not have been where it is right now. Various companies and other parties support us with money, materials and advice.
      Not only do we have branding to give in return, we also visit our partners with out robots, giving demonstrations or interactive workshops. This way we can 
      also inspire even more people about robotics and artificial intelligence.
    </p>

    <h3 class="mt-5"> Gigabyte </h3>
    <div class="row">
      <img class="sponsor col-4 col-md-3" alt="Nexperia" src="content/partners/gigabyte/nexperia.png">
      <img class="sponsor col-4 col-md-3" alt="University of Twente" src="content/partners/gigabyte/utwente.jpg">
      <img class="sponsor col-4 col-md-3" alt="XSens" src="content/partners/gigabyte/xsens.jpg">
      <img class="sponsor col-4 col-md-3" alt="Novel-T" src="content/partners/gigabyte/novelt.png">
      <img class="sponsor col-4 col-md-3" alt="Maxon" src="content/partners/gigabyte/maxon.jpg">
      <img class="sponsor col-4 col-md-3" alt="Q8" src="content/partners/gigabyte/q8.png">
      <img class="sponsor col-4 col-md-3" alt="Hemabo" src="content/partners/gigabyte/hemabo.jpg">
    </div>

    <h3 class="mt-5"> Megabyte </h3>
    <div class="row">
      <img class="sponsor col-4 col-md-2" alt="Altium" src="content/partners/megabyte/altium.jpg">
      <img class="sponsor col-4 col-md-2" alt="Basler" src="content/partners/megabyte/basler.png">
      <img class="sponsor col-4 col-md-2" alt="Better Be" src="content/partners/megabyte/betterbe.png">
      <img class="sponsor col-4 col-md-2" alt="Demcon" src="content/partners/megabyte/demcon.jpg">
      <img class="sponsor col-4 col-md-2" alt="Designlab" src="content/partners/megabyte/designlab.jpg">
      <img class="sponsor col-4 col-md-2" alt="Eurocircuits" src="content/partners/megabyte/eurocircuits.png">
      <img class="sponsor col-4 col-md-2" alt="ovSoftware" src="content/partners/megabyte/ovsoftware.png">
      <img class="sponsor col-4 col-md-2" alt="RS" src="content/partners/megabyte/rs.png">
      <img class="sponsor col-4 col-md-2" alt="Smans" src="content/partners/megabyte/smans.jpg">
    </div>

    <h3 class="mt-5"> Kilobyte </h3>
    <div class="row">
      <img class="sponsor col-4 col-md-2" alt="IC" src="content/partners/kilobyte/ic.jpg">
      <img class="sponsor col-4 col-md-2" alt="JB Tech" src="content/partners/kilobyte/jbtech.png">
      <img class="sponsor col-4 col-md-2" alt="NeoNode" src="content/partners/kilobyte/neonode.png">
      <img class="sponsor col-4 col-md-2" alt="Nuclino" src="content/partners/kilobyte/nuclino.png">
      <img class="sponsor col-4 col-md-2" alt="X#" src="content/partners/kilobyte/xsharp.png">
    </div>

    <h3 class="mt-5"> Byte </h3>
    <img class="sponsor col-4 col-md-2" alt="Egberts" src="content/partners/byte/egberts.jpg">
    <img class="sponsor col-4 col-md-2" alt="Farnel" src="content/partners/byte/farnel.png">
    <img class="sponsor col-4 col-md-2" alt="Kramp" src="content/partners/byte/kramp.png">
    <img class="sponsor col-4 col-md-2" alt="Rinarck" src="content/partners/byte/rinarck.jpg">
    <img class="sponsor col-4 col-md-2" alt="TTI" src="content/partners/byte/tti.jpg">
    <img class="sponsor col-4 col-md-2" alt="vink" src="content/partners/byte/vink.png">

    <h3 class="mt-5"> Crowdfunders </h3>
    <div class="row">
      <ul class="col-6">
        <li> Wouter Lensing </li>
        <li> Peter Hoekstra </li>
        <li> Erna Brus </li>
        <li> Dirk Hoekstra </li>
        <li> Trix Rubbens-van Iersel </li>
        <li> Trees van Braak </li>
        <li> Elektrotechniek Ruurd Westra </li>
        <li> Wouter van Veelen </li>
        <li> Familie Wijers </li>
        <li> R.C.H. Croll </li>
        <li> Winnifred Blokland </li>
        <li> Autoservice Timmer </li>
        <li> Ornée & Vermeer Tekstbureau </li>
        <li> Corry & Peter van der Wal </li>
        <li> Marc van Wessel </li>
        <li> HKJ Hardnekkig </li>
        <li> Bert Jan Offrein </li>
        <li> Gerard de Groot </li>
        <li> Familie Te Poele </li>
        <li> Ewoud </li>
        <li> Dioni </li>
        <li> DJC BLUF </li>
      </ul>
      <ul class="col-6">
        <li> Directus Calvatus </li>
        <li> Anja en Jacco ten Berk de Boer </li>
        <li> Familie Bijlsma </li>
        <li> P.A.M. van Iersel </li>
        <li> Han Wopereis </li>
        <li> Frank van Iersel & Lotty van Minnen </li>
        <li> Nahuel Manterola </li>
        <li> Koen Hertenberg </li>
        <li> Rob Verbeek </li>
        <li> Jelle Zult </li>
        <li> Simen Bootsma </li>
        <li> Renate Schouten </li>
        <li> Ewoud Croll </li>
        <li> Tante Petra Schouten </li>
        <li> Iris Weijers </li>
        <li> Michiel Bootsma </li>
        <li> Jim Hoekstra </li>
        <li> Pake Luik </li>
        <li> Tine Bootsma-Cnossen </li>
        <li> Michiel Overeem </li>
      </ul>
    </div>
  </div>
</div>




    
