<div class="container">
  <div class="col-12 mt-5">
    <h1> Partners </h1>
    <p>
      Without our great sponsors RoboTeam Twente would be nowhere.
    </p>

    <h3> Gigabyte </h3>
    <div class="row">
      <img class="sponsor col-4 col-md-3" alt="Nexperia" src="content/partners/gigabyte/nexperia.png">
      <img class="sponsor col-4 col-md-3" alt="University of Twente" src="content/partners/gigabyte/utwente.jpg">
      <img class="sponsor col-4 col-md-3" alt="XSens" src="content/partners/gigabyte/xsens.jpg">
      <img class="sponsor col-4 col-md-3" alt="Novel-T" src="content/partners/gigabyte/novelt.png">
      <img class="sponsor col-4 col-md-3" alt="Maxon" src="content/partners/gigabyte/maxon.jpg">
      <img class="sponsor col-4 col-md-3" alt="Q8" src="content/partners/gigabyte/q8.png">
      <img class="sponsor col-4 col-md-3" alt="Hemabo" src="content/partners/gigabyte/hemabo.jpg">
    </div>

    <h3> Megabyte </h3>
    <div class="row">
      <img class="sponsor col-4 col-md-2" alt="Altium" src="content/partners/megabyte/altium.jpg">
      <img class="sponsor col-4 col-md-2" alt="Basler" src="content/partners/megabyte/basler.png">
      <img class="sponsor col-4 col-md-2" alt="Better Be" src="content/partners/megabyte/betterbe.png">
      <img class="sponsor col-4 col-md-2" alt="Demcon" src="content/partners/megabyte/demcon.jpg">
      <img class="sponsor col-4 col-md-2" alt="Designlab" src="content/partners/megabyte/designlab.jpg">
      <img class="sponsor col-4 col-md-2" alt="Eurocircuits" src="content/partners/megabyte/eurocircuits.png">
      <img class="sponsor col-4 col-md-2" alt="ovSoftware" src="content/partners/megabyte/ovsoftware.png">
      <img class="sponsor col-4 col-md-2" alt="RS" src="content/partners/megabyte/rs.png">
      <img class="sponsor col-4 col-md-2" alt="Smans" src="content/partners/megabyte/smans.jpg">
    </div>

    <h3> Kilobyte </h3>
    <div class="row">
      <img class="sponsor col-4 col-md-2" alt="IC" src="content/partners/kilobyte/ic.jpg">
      <img class="sponsor col-4 col-md-2" alt="JB Tech" src="content/partners/kilobyte/jbtech.png">
      <img class="sponsor col-4 col-md-2" alt="NeoNode" src="content/partners/kilobyte/neonode.png">
    </div>

    <h3> Byte </h3>
    <img class="sponsor col-4 col-md-2" alt="Egberts" src="content/partners/byte/egberts.jpg">
    <img class="sponsor col-4 col-md-2" alt="Farnel" src="content/partners/byte/farnel.png">
    <img class="sponsor col-4 col-md-2" alt="Kramp" src="content/partners/byte/kramp.png">
    <img class="sponsor col-4 col-md-2" alt="Rinarck" src="content/partners/byte/rinarck.jpg">
    <img class="sponsor col-4 col-md-2" alt="TTI" src="content/partners/byte/tti.jpg">
    <img class="sponsor col-4 col-md-2" alt="vink" src="content/partners/byte/vink.png">

    <h3> Crowdfunders </h3>
    <img class="col-12" alt="Crowdfunders" src="content/partners/crowdfunders.png">
  </div>
</div>
