<div class="container">
  <div class="col-12 mt-5">
    <h1> Partners </h1>
    <p>
      Without our great sponsors RoboTeam Twente would be nowhere.
    </p>

    <h3> Gigabyte </h3>
    <div class="row">
      <img class="col-4 col-md-3" style="object-fit: contain" src="content/partners/gigabyte/nexperia.png"/>
      <img class="col-4 col-md-3" style="object-fit: contain" src="content/partners/gigabyte/utwente.jpg"/>
      <img class="col-4 col-md-3" style="object-fit: contain" src="content/partners/gigabyte/xsens.jpg"/>
      <img class="col-4 col-md-3" style="object-fit: contain" src="content/partners/gigabyte/novelt.png"/>
      <img class="col-4 col-md-3" style="object-fit: contain" src="content/partners/gigabyte/maxon.jpg"/>
      <img class="col-4 col-md-3" style="object-fit: contain" src="content/partners/gigabyte/q8.png"/>
      <img class="col-4 col-md-3" style="object-fit: contain" src="content/partners/gigabyte/hemabo.jpg"/>
    </div>

    <h3> Megabyte </h3>
    <div class="row">
      <img class="col-4 col-md-2" style="object-fit: contain" src="content/partners/megabyte/altium.jpg"/>
      <img class="col-4 col-md-2" style="object-fit: contain" src="content/partners/megabyte/basler.png"/>
      <img class="col-4 col-md-2" style="object-fit: contain" src="content/partners/megabyte/betterbe.png"/>
      <img class="col-4 col-md-2" style="object-fit: contain" src="content/partners/megabyte/demcon.jpg"/>
      <img class="col-4 col-md-2" style="object-fit: contain" src="content/partners/megabyte/designlab.jpg"/>
      <img class="col-4 col-md-2" style="object-fit: contain" src="content/partners/megabyte/eurocircuits.png"/>
      <img class="col-4 col-md-2" style="object-fit: contain" src="content/partners/megabyte/ovsoftware.png"/>
      <img class="col-4 col-md-2" style="object-fit: contain" src="content/partners/megabyte/rs.png"/>
      <img class="col-4 col-md-2" style="object-fit: contain" src="content/partners/megabyte/smans.jpg"/>
    </div>

    <h3> Kilobyte </h3>
    <div class="row">
      <img class="col-4 col-md-2" style="object-fit: contain" src="content/partners/kilobyte/ic.jpg"/>
      <img class="col-4 col-md-2" style="object-fit: contain" src="content/partners/kilobyte/jbtech.png"/>
      <img class="col-4 col-md-2" style="object-fit: contain" src="content/partners/kilobyte/neonode.png"/>
    </div>

    <h3> Byte </h3>
    <img class="col-4 col-md-2" style="object-fit: contain" src="content/partners/byte/egberts.jpg"/>
    <img class="col-4 col-md-2" style="object-fit: contain" src="content/partners/byte/farnel.png"/>
    <img class="col-4 col-md-2" style="object-fit: contain" src="content/partners/byte/kramp.png"/>
    <img class="col-4 col-md-2" style="object-fit: contain" src="content/partners/byte/rinarck.jpg"/>
    <img class="col-4 col-md-2" style="object-fit: contain" src="content/partners/byte/tti.jpg"/>
    <img class="col-4 col-md-2" style="object-fit: contain" src="content/partners/byte/vink.png"/>

    <h3> Crowdfunders </h3>
    <img class="col-12" style="object-fit: contain" src="content/partners/Crowdfunders.png"/>
  </div>
</div>
