<div class="container">
  <div class="col-12 mt-5">
    <div class="row">
      <div class="col-12 col-md-6">
        <h1> Why the RoboCup is organized </h1>
        <p>
          The RoboCup is an annual competition of robotics. There are a few different categories of leagues you can compete in.
          The RoboCup soccer league, RoboCup rescue league and the RoboCup@Home league. The main focus of the RoboCup is on the soccer competition.
          The RoboCup Soccer league is the oldest league, which was held for the first time in 1997. This is also the competition we are eager to compete in.
          RoboCup holds up the ultimate goal:

          <h4 class="m-3 p-3">
            By the middle of the 21st century, a team of fully autonomous humanoid robot soccer players shall win a soccer game, complying with the official rules of FIFA, against the winner of the most recent World Cup.
          </h4>

          Within the soccer category, there are 5 different leagues to compete in: the Small Size, Middle Size, Humanoid, Standard Platform and Simulation league. Each league has a different focus on innovation. We are preparing for the Small Size league, which focusses on the problem of intelligent multi-robot/agent cooperation and control in a highly dynamic environment with a hybrid centralized/distributed system.
          For the Small Size league we have to build a team of 6 robots (with a height of 150 mm and a diameter of 180 mm) that can communicate with each other and can play a soccer match by themselves. There is no remote controlling involved. The games will be played with an orange golf ball, on a 9 by 5 meter carpet field. The RoboCup2018 will be held in Montréal, Canada, starting on the 17th of June.
        </p>
      </div>
      <div class="col-12 col-lg-6">
        <iframe class="robocup-video" src="https://www.youtube.com/embed/y4yhAS46eM8?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
